twine
flake8
flake8-formatter-junit-xml
flake8-self
flake8-eradicate
flake8-alfred
flake8-builtins
flake8-commas
python-language-server[all]
coverage
unittest-xml-reporting
invoke
flaky
gcg
tox
tox-pyenv
tox-venv
pytest
mypy
black
-r requirements.txt
